* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#Container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.sub-container {
  display: flex;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

#red {
  background-color: red
}

.box {
  border: 1px solid black;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}

.text-container {
  background-color: black;
  border-radius: 5px;
  padding: 1rem;
  width: 125px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: xx-large;
  color: white;
}

#blue {
  background-color: blue;
}

#green {
  background-color: green;
}

#yellow {
  background-color: yellow;
}